{% extends "layout.njk" %}
{% block  content %}
<main>
    <h1>{{ title }}</h1>
    <p>{{ intro }}</p>
    <p>Detta är dock statisk text. Följt av data från databas.</p>
    <ul>
        {% for row in rows %}
        <li>
                <h1> {{ row.name }} </h1> <p> {{ row.secret_identity }} </p>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}%