{% extends "layout.njk" %}
{% block  content %}
<main>
    
    <h1>Detta är test.njk som används av /test router</h1>
    
    <h1>{{ title }}</h1>
    
    <p>{{ text }}</p>
    
</main>
{% endblock %}